<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syk.publishing.mbg.mapper.SessionsMapper">
  <resultMap id="BaseResultMap" type="com.syk.publishing.mbg.model.Sessions">
    <id column="session_id" jdbcType="BIGINT" property="sessionId" />
    <result column="sessionName" jdbcType="VARCHAR" property="sessionname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    session_id, sessionName
  </sql>
  <select id="selectByExample" parameterType="com.syk.publishing.mbg.model.SessionsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Sessions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Sessions
    where session_id = #{sessionId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from Sessions
    where session_id = #{sessionId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.syk.publishing.mbg.model.SessionsExample">
    delete from Sessions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.syk.publishing.mbg.model.Sessions">
    insert into Sessions (session_id, sessionName)
    values (#{sessionId,jdbcType=BIGINT}, #{sessionname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.syk.publishing.mbg.model.Sessions">
    insert into Sessions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sessionId != null">
        session_id,
      </if>
      <if test="sessionname != null">
        sessionName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sessionId != null">
        #{sessionId,jdbcType=BIGINT},
      </if>
      <if test="sessionname != null">
        #{sessionname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.syk.publishing.mbg.model.SessionsExample" resultType="java.lang.Long">
    select count(*) from Sessions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update Sessions
    <set>
      <if test="record.sessionId != null">
        session_id = #{record.sessionId,jdbcType=BIGINT},
      </if>
      <if test="record.sessionname != null">
        sessionName = #{record.sessionname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update Sessions
    set session_id = #{record.sessionId,jdbcType=BIGINT},
      sessionName = #{record.sessionname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.syk.publishing.mbg.model.Sessions">
    update Sessions
    <set>
      <if test="sessionname != null">
        sessionName = #{sessionname,jdbcType=VARCHAR},
      </if>
    </set>
    where session_id = #{sessionId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.syk.publishing.mbg.model.Sessions">
    update Sessions
    set sessionName = #{sessionname,jdbcType=VARCHAR}
    where session_id = #{sessionId,jdbcType=BIGINT}
  </update>
</mapper>